<h2>Contens</h2>
<ul>
<%= for k <- @data do %>
  <li><a href="#<%= k.grp_name %>"><%= k.grp_desc %></a></li>
<% end %>
</ul>

<ul>
<%= for k <- @data do %>
  <h2 id="<%= k.grp_name %>"><%= k.grp_name %></h2>
  <p><%= k.grp_desc %></p>
  <ul>
  <%= for i <- k.items do %>
  <li>
    <a href="<%= i.url %>"><%= i.desc %></a>
    <div class="stats-stars">⭐ <%= i.stars %></div>
    <div class="stats-days"><%= i.days %> 📅 </div>
  </li>
  <% end %>
  </ul>
<% end %>
